<!-- <div class="row">
    <div class="col-sm-12">
        <h5>General</h5>
    </div>
    <div class="col-sm-12 col-lg-6"><p>Duration: {{params[0].value}} sec</p></div>
    <div class="col-sm-12 col-lg-6"><p>Sampling Frequency: {{params[1].value}} Hz</p></div>
    <div class="col-sm-12 col-lg-6"><p>Soundboard Reflection Coefficient: {{params[7].value}} %</p></div>
    <div class="col-sm-12 col-lg-6"><p>Hammer-String Distance: {{params[11].value}} %</p></div>
    <div class="col-sm-12">
        <h5>Waveguide Length</h5>
    </div>
    <div class="col-sm-12 col-lg-5"><p>Fundamental Frequency: {{params[3].value}} Hz</p></div>
    <div class="col-sm-12 col-lg-3"><p>String Length: {{params[4].value}} cm</p></div>
    <div class="col-sm-12 col-lg-4"><p>Sound Speed: {{params[2].value}} m/s</p></div>
    <div class="col-sm-12">
        <h5>String Impedance</h5>
    </div>
    <div class="col-sm-12 col-lg-6"><p>String Diameter: {{params[5].value}} mm</p></div>
    <div class="col-sm-12 col-lg-6"><p>String Tension: {{params[5].value}} N</p></div>
    <div class="col-sm-12">
        <h5>Hammer</h5>
    </div>
    <div class="col-sm-12 col-lg-2"><p>Mass: {{params[8].value}} g</p></div>
    <div class="col-sm-12 col-lg-2"><p>v<sub>0</sub>: {{params[10].value}} m/s</p></div>
    <div class="col-sm-12 col-lg-4"><p>Relative striking point: {{params[8].value}} %</p></div>
    <div class="col-sm-12 col-lg-4"><p>Linear Felt Stiffness: {{params[8].value}} %</p></div>
</div> -->
<!-- Layout 2 -->
<div class="row">
    <div class="col-sm-12">
        <h5>General</h5>
    </div>
    <div class="col-sm-12"><p>Duration: {{params[0].value}} sec</p></div>
    <div class="col-sm-12"><p>Sampling Frequency: {{params[1].value}} Hz</p></div>
    <div class="col-sm-12"><p>Soundboard Reflection Coefficient: {{params[7].value}} %</p></div>
    <div class="col-sm-12"><p>Hammer-String Distance: {{params[11].value}} %</p></div>
    <div class="col-sm-12">
        <h5>Waveguide Length</h5>
    </div>
    <div class="col-sm-12 col-lg-5"><p>Fundamental Frequency: {{params[3].value}} Hz</p></div>
    <div class="col-sm-12 col-lg-3"><p>String Length: {{params[4].value}} cm</p></div>
    <div class="col-sm-12 col-lg-4"><p>Sound Speed: {{params[2].value}} m/s</p></div>
    <div class="col-sm-12">
        <h5>String Impedance</h5>
    </div>
    <div class="col-sm-12"><p>String Diameter: {{params[5].value}} mm</p></div>
    <div class="col-sm-12"><p>String Tension: {{params[5].value}} N</p></div>
    <div class="col-sm-12">
        <h5>Hammer</h5>
    </div>
    <div class="col-sm-12 col-lg-2"><p>Mass: {{params[8].value}} g</p></div>
    <div class="col-sm-12 col-lg-2"><p>v<sub>0</sub>: {{params[10].value}} m/s</p></div>
    <div class="col-sm-12 col-lg-4"><p>Relative striking point: {{params[8].value}} %</p></div>
    <div class="col-sm-12 col-lg-4"><p>Linear Felt Stiffness: {{params[8].value}} %</p></div>
</div>