<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg app-navbar" data-bs-theme="dark">
      <div class="container-fluid">
        <a routerLink="/home" routerLinkActive="active" class="navbar-brand d-flex align-items-center" href="#">
          <!-- <span class="material-icons piano-icon">piano</span>
          {{appTitle}} -->
          <img src="../../assets/images/logo-negative.svg" alt="logo">
          <span class="app-title">{{appTitle}}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Collapsable content -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li nav class="nav-item">
              <a routerLink="/editor" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"
                aria-current="page">Editor</a>
            </li>
            <li nav class="nav-item">
              <a class="nav-link" aria-current="page">Save</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page">Load</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Router outlet to render routes -->
  <router-outlet></router-outlet>
</div>
<!-- FOOTER -->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top sticky-footer">
  <p class="col-md-4 mb-0 text-body-secondary">© 2023 dcsynth, Inc</p>

  <a href="/"
    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
    <img src="../assets/images/logo-footer.svg" alt="logo">
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a href="/editor" class="nav-link px-2 text-body-secondary">Editor</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Save</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Load</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Help</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
  </ul>
</footer>