<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Simulation Settings
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <!-- TODO fill with simulation params -->
        <div class="row">
          <div class="col-lg-4">
            <label for="numIterations" class="form-label">Iterations</label>
            <input type="number" min={{minIterations}} max={{maxIterations}} class="form-control" id="numIterations"
              [(ngModel)]="iterations">
          </div>
          <div class="col-lg-4">
            <label for="stringFrequency" class="form-label">String Frequency [Hz]</label>
            <input type="number" min={{minStringFrequency}} max={{maxStringFrequency}} class="form-control"
              id="stringFrequency" [(ngModel)]="stringFrequency">
          </div>
          <div class="col-lg-4">
            <label for="stringTension" class="form-label">String Tension [N]</label>
            <input type="number" min={{minStringTension}} max={{maxStringTension}} class="form-control"
              id="stringTension" [(ngModel)]="stringTension">
          </div>
        </div>
        <!-- Another row of parameters -->
        <div class="row">
          <div class="col-lg-4">
            <label for="soundboardReflectionCoeffiecient" class="form-label">Soundboard Reflection Coeffiecient</label>
            <input type="number" min={{minSoundboardReflectionCoefficient}} max={{maxSoundboardReflectionCoefficient}}
              class="form-control" id="soundboardReflectionCoeffiecient" [(ngModel)]="soundBoardReflectionCoefficient">
          </div>
          <div class="col-lg-4">
            <label for="hammerMass" class="form-label">Hammer Mass [g]</label>
            <input type="number" min={{minHammerMass}} max={{maxHammerMass}} class="form-control" id="hammerMass"
              [(ngModel)]="hammerMass">
          </div>
          <div class="col-lg-4">
            <label for="linearFeltStiffness" class="form-label">Linear Felt Stiffness [N/m]</label>
            <input type="number" min={{minLinearFeltStiffness}} max={{maxLinearFeltStiffness}} class="form-control"
              id="linearFeltStiffness" [(ngModel)]="linearFeltStiffness">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <label for="hammerInitialVelocity" class="form-label">Initial velocity [m/s]</label>
            <input type="number" min={{minHammerInitialVelocity}} max={{maxHammerInitialVelocity}} class="form-control"
              id="hammerInitialVelocity" [(ngModel)]="hammerInitialVelocity">
          </div>
          <div class="col-lg-4">
            <label for="hammerRelativeStrikingPoint" class="form-label">Hammer Relative Striking Point [%]</label>
            <input type="number" min={{minHammerRelativeStrikingPoint}} max={{maxHammerRelativeStrikingPoint}}
              class="form-control" id="hammerRelativeStrikingPoint" [(ngModel)]="hammerRelativeStrikingPoint">
          </div>
          <div class="col-lg-4">
            <label for="hammerStringDistance" class="form-label">Hammer-String Distance [cm]</label>
            <input type="number" min={{minHammerStringDistance}} max={{maxHammerStringDistance}} class="form-control"
              id="hammerStringDistance" [(ngModel)]="hammerStringDistance">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <label for="stringLength" class="form-label">String Length [cm]</label>
            <input type="number" min={{minStringLength}} max={{maxStringLength}} class="form-control" id="stringLength"
              [(ngModel)]="stringLength">
          </div>
          <div class="col-lg-6">
            <label for="stringDiameter" class="form-label">String Diameter [mm]</label>
            <input type="number" min={{minStringDiameter}} max={{maxStringDiameter}} class="form-control" id="stringDiameter"
              [(ngModel)]="stringDiameter">
          </div>
        </div>
      </div>
      <div clas="row">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="runSimulation()">RUN SIMULATION</button>
        </div>
      </div>
    </div>