<div class="row">
    <div class="col-sm-12 col-md-6">
        <img src={{getPlotUrl(this.daapFeatures.mfccs)}} class="img-fluid"
            alt="mfccs-plot">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src={{getPlotUrl(this.daapFeatures.tonnetz)}} class="img-fluid"
            alt="tonnetz-plot">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src={{getPlotUrl(this.daapFeatures.spectralCentroid)}} class="img-fluid"
            alt="spectral-centroid-plot">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src={{getPlotUrl(this.daapFeatures.spectralBandwidth)}} class="img-fluid"
            alt="spectral-bandwidth-plot">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src={{getPlotUrl(this.daapFeatures.spectralContrast)}} class="img-fluid"
            alt="spectral-contrast-plot">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src={{getPlotUrl(this.daapFeatures.spectralRollOff)}} class="img-fluid"
            alt="spectral-roll-off-plot">
    </div>
</div>