<div class="row text-center" *ngIf="wdResults.length == 0">
    <div class="col-sm-12">
        <h1>Nothing to compare</h1>
    </div>
    <div class="col-sm-12">
        <p>There are no results to compare. Add simulations for comparison from the editor</p>
    </div>
</div>
<div class="row" *ngIf="wdResults.length > 0">
    <!-- Comparison summary-->
    <div class="col-sm-12" *ngFor="let result of this.wdResults">
        <h4>{{result.baseFilename}}</h4>
        <app-summary [params]="result.paramSummary"></app-summary>
    </div>
    
    <!-- Spectral editor -->
    <div class="col-sm-12">
        <app-spectral-editor [filenames]="this.getCompareFilenames()"></app-spectral-editor>
    </div>
</div>

