<div class="row text-center" *ngIf="wdResults.length == 0">
    <div class="col-sm-12">
        <h1>Nothing to compare</h1>
    </div>
    <div class="col-sm-12">
        <p>There are no results to compare. Add simulations for comparison from the editor</p>
    </div>
</div>
<div class="row" *ngIf="wdResults.length > 0">
    <!-- Comparison summary-->
    <div class="col-sm-4" *ngFor="let result of this.wdResults">
        <div class="row">
            <div class="col-sm-12">
                <h4>{{result.baseFilename}}</h4>
                <app-summary [params]="result.paramSummary"></app-summary>
                <div class="row">
                    <div class="col-sm-12">
                        <img src={{getPlotUrl(result.daapFeatures.mfccs)}} class="img-fluid" alt="mfccs-plot">
                    </div>
                    <div class="col-sm-12">
                        <img src={{getPlotUrl(result.daapFeatures.tonnetz)}} class="img-fluid" alt="tonnetz-plot">
                    </div>
                    <div class="col-sm-12">
                        <img src={{getPlotUrl(result.daapFeatures.spectralCentroid)}} class="img-fluid"
                            alt="spectral-centroid-plot">
                    </div>
                    <div class="col-sm-12">
                        <img src={{getPlotUrl(result.daapFeatures.spectralBandwidth)}} class="img-fluid"
                            alt="spectral-bandwidth-plot">
                    </div>
                    <div class="col-sm-12">
                        <img src={{getPlotUrl(result.daapFeatures.spectralContrast)}} class="img-fluid"
                            alt="spectral-contrast-plot">
                    </div>
                    <div class="col-sm-12">
                        <img src={{getPlotUrl(result.daapFeatures.spectralRollOff)}} class="img-fluid"
                            alt="spectral-roll-off-plot">
                    </div>
                </div>
            </div>

        </div>




        <!-- Spectral editor -->
        <!-- <div class="col-sm-12">
        <app-spectral-editor [filenames]="this.getCompareFilenames()"></app-spectral-editor>
    </div> -->
    </div>