<!-- TODO implement programmatically with ngFor based on how many keys you want -->
<!-- <ul class="set">
    <li class="white c"><span class="white-note-label">C{{currentOctaveIndex}}</span></li>
    <li class="black cs"><span class="black-note-label">C#{{currentOctaveIndex}}</span></li>
    <li class="white d"><span class="white-note-label">D{{currentOctaveIndex}}</span></li>
    <li class="black ds"><span class="black-note-label">D#{{currentOctaveIndex}}</span></li>
    <li class="white e"><span class="white-note-label">E{{currentOctaveIndex}}</span></li>
    <li class="white f"><span class="white-note-label">F{{currentOctaveIndex}}</span></li>
    <li class="black fs"><span class="black-note-label">F#{{currentOctaveIndex}}</span></li>
    <li class="white g"><span class="white-note-label">G{{currentOctaveIndex}}</span></li>
    <li class="black gs"><span class="black-note-label">G#{{currentOctaveIndex}}</span></li>
    <li class="white a"><span class="white-note-label">A{{currentOctaveIndex}}</span></li>
    <li class="black as"><span class="black-note-label">A#{{currentOctaveIndex}}</span></li>
    <li class="white b"><span class="white-note-label">B{{currentOctaveIndex}}</span></li>
</ul> -->

<ul class="set">
    <li *ngFor="let label of keyLabels; let i = index" [ngClass]="getPianoKeyStyle(i)"><span
            [ngClass]="getNoteLabelStyle(i)">{{keyLabels[i]}}{{currentOctaveIndex}}</span></li>
</ul>