// * {
//   box-sizing: border-box
// }

.keyboard-group {
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-height: 18.875em;
  max-width: 33em;
  margin: 1em 0em 2em 0em; // NOTA: change if you need to move the keyboard in the screen
  padding: 3em 2em 0.5em 1em;
  border: 1px solid #160801;
  border-radius: 1em;
  // background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../assets/images/black_wood.jpg);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5)
}

.octave-controls {
  max-width: 32px;
  max-height: 40px;
  // margin: 0 auto;
  margin: 0.5em 0 0.5em 1em;
  // padding: 0 0 0 3em;

}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left
}

ul .white {
  flex: 2;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 16em;
  width: 4em;
  z-index: 1; // it goes beyond black key
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
  // background: linear-gradient(to bottom, #eee 0%, #fff 100%)
}

li .white-note-label {
  font-size:medium;
}

li .black-note-label {
  font-size: smaller;
  color: white;
}

// Changes when key is pressed
ul .white:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  // background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%)
}

ul .black {
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-height: 8em;
  max-width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2; // it goes above white keys
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%)
}

ul .black:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%)
}

.a,
.g,
.e,
.d,
.c,
.b {
  margin: 0 0 0 -1em;
}

.c {
  background-color: #B1B695;
}

.d {
  background-color: #FCD0A1;
}

.e {
  background-color: #F3DAD8;
}

.f {
  // background-color: #f77936;
  background-color: #DB9065;
}

.g {
  background-color: #A690A4;
}

.a {
  background-color: #98C1D9;
}

.b {
  background-color: #B3DEC1;
}

ul li:first-child {
  border-radius: 5px 0 5px 5px
}

ul li:last-child {
  border-radius: 0 5px 5px 5px
}