// Method 1
// .hero-container {
//     position: relative;
//     margin-top: 10px;
//     background-color: #c2c1a5;
// }

// .text-container {
//     position: absolute;
//     top: 40%;
//     left: 70%;
//     text-align: center;
//     transform: translate(-50%, -50%);
    
// }

// Method 2
// .hero-container {
//     // padding: 120px 15px;
//     // padding: 20% 0;
//     text-align: top-left;
//     background-image: url(../../assets/images/LOGO.svg);
//     background-size: contain;
//     background-repeat: no-repeat;
//     // transform: translate(-20%, 0);
// }

// Method 3, using bootstrap for responsive design
.hero-container {
    background-color: #c2c1a5;
}

.hero-image {
    margin-top: 10px;
}

.hero-text {
    text-align: center;
}

.hero-button {
    margin-bottom: 10px;
}