.daap-card {
    // width: 35em;
    width: 90%;
}

.daap-plot-img {
    max-width: 100%;
    max-height: 100%;
}

.update-plots-button {
    margin: 10px 0;
}

// .wd-accordion {
//     background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../assets/images/black_wood.jpg);
//     // border: 1px solid #bf9b30;
//     border-radius: 5px;
//     margin-bottom: 10px;
//   }