<div class="silver-piano">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Algorithm Settings
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">

          <div class="row">
            <!-- Checkbox group for parameters editing options -->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="piano-mode" autocomplete="off">
              <label class="btn btn-outline-primary" for="piano-mode">Piano Keyboard</label>

              <input type="checkbox" class="btn-check" id="pro-mode" autocomplete="off">
              <label class="btn btn-outline-primary" for="pro-mode">Pro Mode</label>
            </div>
          </div>
          <!-- Piano Keyboard component, shown on condition -->
          <app-piano-keyboard *ngIf="showPianoKeyboard"></app-piano-keyboard>
          <div class="row">
            <div class="col-lg-4" *ngFor="let param of wdParams">
              <label for="{{param.name}}" class="form-label">{{param.name | camelcaseToWords}}<span
                  class='unit-of-measure'>[{{param.unit}}]</span></label>
              <input type="number" min={{param.min}} max={{param.max}} class="form-control" id="{{param.name}}"
                [(ngModel)]="param.value">
            </div>
          </div>
          <div clas="row">
            <div class="col-lg-12 text-center start-button">
              <button type="submit" class="btn btn-primary" (click)="runSimulation()">START ALGORITHM</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-video-player [videoUrl]="videoUrl" *ngIf="isRendered"></app-video-player>
</div>